* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-repeat: repeat;
  background-color: var(--primary) !important;
  background-size: cover;
  color: var(--primary-text) !important;
  font-family: 'Monaco ', monospace !important;
  -webkit-font-smoothing: antialiased;
  opacity: 1;
  transition: background-color 300ms ease-in-out 0s, opacity 800ms ease-in-out 0s;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
}

/* For Chrome */
/* width */
::-webkit-scrollbar {
  @media all and (min-width: 990px) {
    width: 4px;
    height: 2px;
  }
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary);
  border-radius: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--secondary-opacity);
  height: 48px;
  width: 48px;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--secondary);
}
